Package: wiki.qaq.chromatic
Name: Saily
Description: Modern. Fast. Beautiful.
Author: Saily Team <master@233owo.com>
Maintainer: Saily Team <master@233owo.com>
Version: @@VERSION@@
Section: Applications
Pre-Depends: firmware (>= 13.0), dpkg, uikittools, apt
Architecture: iphoneos-arm
Homepage: https://sailyteam.github.io/Saily/index.html
Website: https://sailyteam.github.io/Saily/index.html
Depiction: https://sailyteam.github.io/Saily/index.html
Icon: https://sailyteam.github.io/Saily/Resources/icon.png
