Package: wiki.qaq.chromatic
Name: Saily
Description: Modern. Fast. Beautiful.
Author: Saily Team <master@233owo.com>
Maintainer: Saily Team <master@233owo.com>
Version: @@VERSION@@
Section: Applications
Pre-Depends: firmware (>= 13.0), dpkg, uikittools, apt
Architecture: iphoneos-arm
Homepage: https://github.com/SailyTeam/Saily/
Website: https://github.com/SailyTeam/Saily/
Depiction: https://github.com/SailyTeam/Saily/blob/main-2.0/README.md
Icon: https://github.com/SailyTeam/Saily/raw/main-2.0/Application/Chromatic/Assets.xcassets/AppIcon.appiconset/icon-83.5%402x.png
