Package: wiki.qaq.Protein
Name: Saily
Description: Modern. Fast. Beautiful.
Author: Saily Team <master@233owo.com>
Maintainer: Saily Team <master@233owo.com>
Version: 1.0-1
Section: Applications
Pre-Depends: firmware (>= 13.0), dpkg, uikittools, apt
Conflicts: com.lakr233.SailyTest, com.lakr233.jw.SailyPackageManager, com.lakr233.jw.SailyStartupDaemon
Architecture: iphoneos-arm
Homepage: https://github.com/SailyTeam/main/
Website: https://github.com/SailyTeam/main/
Depiction: https://github.com/SailyTeam/main/blob/master/README.md
Nativedepiction: https://github.com/SailyTeam/main/raw/master/Attachments/nativeDepiction.json
Icon: https://github.com/SailyTeam/main/raw/master/Protein/Assets.xcassets/AppIcon.appiconset/icon-83.5%402x.png
